.scroll-heading {
  text-align: center;
  color: green;
}
.scroll-content {
  overflow-y: scroll;
  height: 2500px;
}

.scroll-button {
  position: fixed;
  width: 100%;
  left: 50%;
  bottom: 40px;
  height: 20px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: green;
}
